/* You can add global styles to this file, and also import other style files */

html {
  height: 100%;
}

form {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}
input {
  font-family: italic;
  background-color: white;
  font-size: large;
  border-radius: 1rem;
  letter-spacing: 0.1rem;
  width: 100%;
  padding: 12px 20px;
}
label {
  font-family: italic;
  font-size: larger;
  letter-spacing: 0.1rem;
  padding: 12px 20px;
}
button {
  width: 100px;
  background: gainsboro;
  font-weight: bold;
  color: black;
  margin: 10px 5px;
  border-radius: 12px;
  font-size: medium;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 5px gray;
}
h2 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
body {
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to left, #93a5cf, #e4efe9);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
p {
  font-family: cursive;
}
