<table *ngIf="orders?.length > 0">
  <tr>
    <th><b>Product Name</b></th>
    <th><b>Order Quantity</b></th>
    <th><b>Edit Order</b></th>
    <th><b>Cancel Order</b></th>
  </tr>
  <tr *ngFor="let order of orders">
    <td>{{ order?.productName }}</td>
    <td>{{ order.quantity }}</td>
    <td>
      <button
        class="edit"
        type="edit"
        [routerLink]="['/updateOrder/', order.orderId]"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </td>
    <td>
      <button
        class="cancel"
        type="delete"
        (click)="confirmation(order.orderId)"
      >
        <mat-icon>delete_forever</mat-icon>
      </button>
    </td>
  </tr>
</table>
