<form
  #customerForm="ngForm"
  (ngSubmit)="postCustomerDetails(customerForm.value)"
>
  <label><b>Customer Name</b></label
  ><br />
  <input
    type="text"
    name="customerName"
    placeholder="enter customer name"
    ngModel
    autocomplete="off"
  /><br /><br />
  <label><b>Mobile Number</b></label
  ><br />
  <input
    type="text"
    name="customerNumber"
    lable="Mobile Number"
    placeholder="enter mobile number"
    ngModel
    autocomplete="off"
  /><br />
  <button type="submit">Submit</button>
</form>
